<!DOCTYPE html>
<html>

<head>
  <title>Winnipeg River Trail Alerts</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
</head>

<body>
  <div class="container">
    <h3 class="display-3">River Trail Alerts</h3>
    <h4 class="display-5">
      Get notified when the Winnipeg River Trail status changes.
    </h4>
    <p class="lead">
      We check the <a href="https://www.theforks.com/events/skating-trail-and-park-conditions">Winnipeg River Trail status page</a> every 30 minutes.
      If there is an update, we will send you an email with the changes.
    </p>
    <form action="{{ subscribe_url }}" method="POST" , target="_blank">
      <div class="form-group">
        <label for="exampleInputEmail">Email address</label>
        <input type="email" name="userEmail" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We will never share your email with anyone else.</small>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</body>
</html>