<!DOCTYPE html>
<html>
    <head>
    <title>Winnipeg River Trail Alerts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous"
    />
    </head>
    <body>
        <div class="container">
            <h1 class="display-3">{{ return_message }}</h1>
            <h5 class="display-5">Please check your email address: {{ email_address }} to confirm your subscription!</h5>
        </div>
    </body>
</html>